//$primary: blue;
//$dark: rgb(177, 61, 7);
//@import '../node_modules/bootstrap/scss/bootstrap.scss';

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #304078;
}


.section:nth-child(odd) {
    background-color: #bebbc4
}

.section:nth-child(even) {
    background-color: #9576d3;
}





@import '../node_modules/bootstrap/scss/bootstrap.scss';